body
{
    background-color: blue;
    text-align: center;
    color: white;
    font-family: monospace;
}

a
{
    color: yellow;
    text-decoration: none;
}

a:hover
{
    color: aquamarine;
}

main
{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2
{
    text-align: center;
}

img {
    width: 70%;
}

figure{
    text-align: center;
    font-style:italic;
}